<!DOCTYPE html>
<html lang="en">
<head>
    <#include "include/meta.ftl">
    <#include "include/css.ftl">
    <title>Database Transfer tools</title>

    <style>
        body {
            padding: 30px;
        }

        .form-control::placeholder {
            color: #bbb;
        }
        .card-set {
            display: none;
        }
        .card-set.active {
            display: block;
        }
        .form-card-footer {

        }
        ul.actions-footer {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        ul.actions-footer > li {
            display: inline-block;
            margin-left: 10px;
        }
        .driver-class-name-p {
            color: #aaa;
            font-size: 14px;
            margin-top: 5px;
        }

        .tables-selected-text {
            font-weight: normal;
            margin-left: 10px;
            color: #2196f3;
            font-size: 16px;
        }

        td.status > div:before {
            font-family: "Font Awesome 6 Free";
        }

        tr.pending > td.status > div:before {
            content: '\f074';
            font-weight: 900;
            color: #aaa;
        }

        tr.running > td.status > div {
            display: inline-block;
            animation-name: fa-spin;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        tr.running > td.status > div:before {
            content: '\f1ce';
            font-weight: 900;
            color: #444;
        }

        tr.done > td.status > div:before {
            content: '\f058';
            font-weight: 900;
            color: #409EFF;
        }

        .table-container {
            max-height: 800px;
            overflow: auto;
        }

        .status-set {
            font-size: 14px;
            float: left;
            color: #909399;
        }

    </style>
</head>
<body>
    <#include "include/js.ftl">
    <script src="${request.contextPath}/js/index.js"></script>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="w-100 text-center title">
                    <h2><strong>Database Transfer Tool</strong></h2>
                    <p class="opacity-50">I'm depends on the jdbc driver.</p>
                </div>

                <form name="f" class="mt-5" method="post">
                    <div class="card shadow p-3 rounded">
                        <!-- welcome set -->
                        <fieldset class="card-set active animate__animated animate__fadeIn" id="welcome-set">
                            <div class="card-body">
                                <h5 class="card-title text-left">
                                    Welcome to the Database Transfer Wizard
                                </h5>
                                <p class="mt-4">
                                    This wizard will assist you in migrating tables and data from a supported database system to another.
                                </p>
                                <h6>Prerequisites</h6>
                                <pre>
Before starting, check the following preparation steps:

- The Migration Wizard uses JDBC to connect to the source database.

- Ensure you can connect to both source and target database servers.

- Make sure you have privileges to read schema information and data from the source database and
create objects and insert data in the target database server.
                                </pre>
                            </div>

                            <div class="form-card-footer text-center p-3">
                                <ul class="actions-footer">
                                    <li>
                                        <button type="button" class="btn btn-primary btn-wizard-next" data-next-set="#source-set">
                                            Start Database Transfer Wizard
                                        </button>
                                    </li>
                                </ul>
                            </div>

                        </fieldset>

                        <!-- source database set -->
                        <fieldset class="card-set animate__animated animate__fadeIn" id="source-set">
                            <div class="card-body">
                                <h5 class="card-title text-left">
                                    Source Database Setting
                                    <label class="float-end">1/4</label>
                                </h5>


                                <div class="mt-4 mb-4">
                                    <select class="form-select w-25" name="source-db-type">
                                        <option value="" disabled selected>Please select Database Type</option>
                                        <option value="mysql">MySql</option>
                                        <option value="mssql">Microsoft SQL Server</option>
                                        <option value="mariadb">mariadb</option>
                                        <option value="postgresql">postgresql</option>
                                    </select>
                                    <p class="driver-class-name-p"></p>
                                    <input type="hidden" name="source-db-driver-class-name">
                                </div>
                                <div class="mb-4">
                                    <input type="text" class="form-control" name="source-db-url" placeholder="Connection URL for JDBC Driver">
                                </div>
                                <div class="mb-4">
                                    <input type="text" class="form-control w-25" name="source-db-username" placeholder="User Name">
                                </div>
                                <div class="mb-4">
                                    <input type="password" class="form-control w-25" name="source-db-password" placeholder="Password">
                                </div>
                            </div>

                            <div class="form-card-footer text-end p-3">
                                <ul class="actions-footer">
                                    <li>
                                        <button type="button" class="btn btn-success " id="btn-source-connection-test">
                                            Connection Test
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-light btn-wizard-next" data-next-set="#destination-set">
                                            Next
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>

                        </fieldset>

                        <!-- source database set -->
                        <fieldset class="card-set animate__animated animate__fadeIn" id="destination-set">
                            <div class="card-body">
                                <h5 class="card-title text-left">
                                    Destination Database Setting
                                    <label class="float-end">2/4</label>
                                </h5>

                                <div class="mt-4 mb-4">
                                    <select class="form-select w-25" name="destination-db-type">
                                        <option value="" disabled selected>Please select Database Type</option>
                                        <option value="mysql">MySql</option>
                                        <option value="mssql">Microsoft SQL Server</option>
                                        <option value="mariadb">mariadb</option>
                                        <option value="postgresql">postgresql</option>
                                    </select>
                                    <p class="driver-class-name-p"></p>
                                    <input type="hidden" name="destination-db-driver-class-name">
                                </div>
                                <div class="mb-4">
                                    <input type="text" class="form-control" name="destination-db-url" placeholder="Connection URL for JDBC Driver">
                                </div>
                                <div class="mb-4">
                                    <input type="text" class="form-control w-25" name="destination-db-username" placeholder="User Name">
                                </div>
                                <div class="mb-4">
                                    <input type="password" class="form-control w-25" name="destination-db-password" placeholder="Password">
                                </div>

                            </div>

                            <div class="form-card-footer text-end p-3">
                                <ul class="actions-footer">
                                    <li>
                                        <button type="button" class="btn btn-success " id="btn-destination-connection-test">
                                            Connection Test
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-light btn-wizard-previous" data-previous-set="#source-set">
                                            <i class="fa-solid fa-chevron-left"></i>
                                            Previous
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-light btn-wizard-next" data-next-set="#option-set">
                                            Next
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>

                        </fieldset>

                        <!-- source database set -->
                        <fieldset class="card-set animate__animated animate__fadeIn" id="option-set">
                            <div class="card-body">
                                <h5 class="card-title text-left">
                                    Transfer Options
                                    <label class="float-end">3/4</label>
                                </h5>

                                <div class="mt-4">
                                    <h4>No options available now.</h4>
                                </div>
                            </div>

                            <div class="form-card-footer text-end p-3">

                                <ul class="actions-footer">
                                    <li>
                                        <button type="button" class="btn btn-light btn-wizard-previous" data-previous-set="#destination-set">
                                            <i class="fa-solid fa-chevron-left"></i>
                                            Previous
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-light btn-wizard-next" data-next-set="#tables-set">
                                            Next
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </fieldset>

                        <!-- source database set -->
                        <fieldset class="card-set animate__animated animate__fadeIn" id="tables-set">
                            <div class="card-body">
                                <h5 class="card-title text-left">
                                    Tables list
                                    <span class="tables-selected-text"></span>
                                    <label class="float-end">4/4</label>
                                </h5>

                                <div class="mt-4 table-container">
                                    <table class="table table-hover" id="table-list">
                                        <thead>
                                            <th>#</th>
                                            <th class="check">
                                                <input class="form-check-input" type="checkbox" value="1" id="chk-tables">
                                            </th>
                                            <th></th>
                                            <th class="source"></th>
                                            <th class="destination"></th>
                                            <th class="comment"></th>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="form-card-footer text-end p-3">
                                <div class="status-set" id="status-tables-set">

                                </div>

                                <ul class="actions-footer">
                                    <li>
                                        <button type="button" class="btn btn-light btn-wizard-previous" data-previous-set="#option-set">
                                            <i class="fa-solid fa-chevron-left"></i>
                                            Previous
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-primary" id="btnSubmit" disabled>
                                            Submit
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </fieldset>


                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>