.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: #ffffff91;
    z-index: var(--bs-backdrop-zindex);
}
.loader > .inner {
    position: relative;
    text-align: center;
    top: calc(50% - 100px);
    vertical-align: middle;
}

.loader > .inner > i {
    font-size: 30px;
}

body {
    padding: 30px;
}

.form-control::placeholder {
    color: #bbb;
}
.fs-12px {
    font-size: 12px !important;
}
.bootstrap-select .dropdown-toggle:focus {
    outline: 0 !important;
    outline-offset: unset !important;
    border-color: #f9fafb;
}
.bootstrap-select .dropdown-menu {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
@keyframes fadeInDown {
    from {
        transform: translate3d(0, -50px, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        transform: translate3d(0, -50px, 0);
        opacity: 0;
    }
}
