.loader {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    display: none;
    background-color: #ffffff91;
}
.loader > .inner {
    position: relative;
    text-align: center;
    top: calc(50% - 100px);
    vertical-align: middle;
}

.loader > .inner > i {
    font-size: 30px;
}
